<div class="row">
  <div class="col-1">
    <img
      src="../../../assets/img/blank-face-person-icon-7.png"
      alt="profil image"
      class="profil-img"
    />
  </div>
  <div class="col-11">
    <h5>Votre photo de profil</h5>
    <div class="profil-btns">
      <button class="btn btn update-btn">
        <img src="../../../assets/img/pen.png" alt="icon" width="15" />&nbsp;
        Remplacer
      </button>
      <button class="btn enf-btn">
        <img src="../../../assets/img/delete.png" alt="icon" width="15" />&nbsp;
        Supprimer
      </button>
    </div>
  </div>
</div>
